@model List<TechJobsPersistent.Models.Employer>
<h1>Employer: @Model[0].Name</h1>

<div>
    @foreach (var employer in Model)
    {
        <p>Name: @employer.Name</p>
        <p>Location: @employer.Location</p>
    }

</div>
